<div class="map" ng-controller="PmapController">
  被験者{{personal_id}}のえろまっぷだよ
  <p><span>{{title}}</span></p>
  <div class="map_img_area　clearfix">
    <img class="map_img" ng-repeat="g in likes" src="{{g.url}}" title="{{g.cluster}}">
  </div>
  <div class="personal_map">
    <div class="l1" ng-repeat="l1 in map_count">
      <div class="l2" ng-repeat="l2 in l1">
        <div class="color _0" ng-if="l2['count'] <= 1 ">{{l2}}</div>
        <div class="color _1" ng-if="l2['count'] > 1 && l2['count'] <= 2">{{l2}}</div>
        <div class="color _2" ng-if="l2['count'] > 2 && l2['count'] <= 4">{{l2}}</div>
        <div class="color _3" ng-if="l2['count'] > 4 && l2['count'] <= 6">{{l2}}</div>
        <div class="color _4" ng-if="l2['count'] > 7">{{l2}}</div>
      </div>
    </div>
  </div>
</div>
