html,body{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

span{
	font-size: 20px;
	font-weight: bold;
}
.imageArea{
	width: 12%;
	float: left;
}
.result{
	width: 12%;
	float: left;
}
img{
	width: 100%
}
.comment{
	clear: left;
	text-align: center;
}
.count{
	clear: left;
	position: relative;
}
.tempResult{
	width: 95%;
}
.ageQuestion{
	text-align: center;
}
.mainQuestion{
	text-align: center;
}

.btn{
	width: 200px;
	height: 40px;
	background-color: orange;

}

/**/
.map{
	width: 100%;
	height: 100%;
}



.map_img_area{
	width: 100%;
	height: 100%;
}
.map_img{
	width: 12.5%;
	height: auto;
	float: left;
}

.personal_map{
	clear: both;
	width: 100%;
	height: 400px;
	padding-top: 20px;
}

/*table{
	width: 100%;
	height: 100%;
}
td{
	width: 25%;
}*/
.l1{
	width: 50%;
	height: 50%;
	float: left;
}
.l2{
	width: 50%;
	height: 50%;
	float: left;
	/*border: 1px solid black;*/
}
.color{
	width: 100%;
	height: 100%;
}
._0{
	background-color: white;
}
._1{
	background-color: #ffebee;
}
._2{
	background-color: #ef9a9a;
}
._3{
	background-color: #f44336;
}
._4{
	background-color: #b71c1c;
}
