html,body{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.container{
	width: 100%;
}
p{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin: 0 auto;
}
.imageArea{
	width: 12%;
	float: left;
}
.result{
	width: 12%;
	float: left;
}
img{
	width: 100%
}
.comment{
	clear: left;
	text-align: center;
}
.count{
	clear: left;
	position: relative;
}
.tempResult{
	width: 95%;
}
.ageQuestion{
	text-align: center;
}
.mainQuestion{
	text-align: center;
}

.btn{
	width: 200px;
	height: 40px;
	background-color: orange;

}

/**/
.map{
	width: 100%;
	height: 100%;
}



.map_img_area{
	width: 100%;
	height: 100%;
}
.map_img{
	width: 12.5%;
	height: auto;
	float: left;
}

.personal_map{
	clear: both;
	width: 100%;
	height: 500px;
	padding-top: 20px;
}

/*aggregate*/
@font-face {
	font-family: "gokuhoso";
	src: url('chogokubosogothic_5.ttf') format('truetype');
}

.ag_title{
	font-family: "gokuhoso";
}

table{
	width: 100%;
	height: 100%;
}
td{
	width: 25%;
}
.l1{
	width: 50%;
	height: 50%;
	float: left;
}
.l2{
	width: 50%;
	height: 50%;
	float: left;
}
.color{
	width: 100%;
	height: 100%;
	font-size: 18px;
	color: blue;
	text-align: center;
}

.colorag{
	width: 100%;
	height: 150px;
	font-size: 18px;
	text-align: center;
	font-family: "gokuhoso";
	font-weight: bold;
	border: 1px solid black;
	/*color: white;*/
}


.b1_1{
	background-image: url("https://dl.dropboxusercontent.com/u/12755271/ORF/gron/back/1_1.jpg");
	background-size:contain;
	/*positon:relative;*/
}
.b1_2{
	background-image: url("https://dl.dropboxusercontent.com/u/12755271/ORF/gron/back/1_2.jpg");
	background-size:contain;
	/*positon:relative;*/
}
.b1_3{
	background-image: url("https://dl.dropboxusercontent.com/u/12755271/ORF/gron/back/1_3.jpg");
	background-size:contain;
}
.b1_4{
	background-image: url("https://dl.dropboxusercontent.com/u/12755271/ORF/gron/back/1_4.jpg");
	background-size:contain;
}
.b2_1{
	background-image: url("https://dl.dropboxusercontent.com/u/12755271/ORF/gron/back/2_1.jpg");
	background-size:contain;
}
.b2_2{
	background-image: url("https://dl.dropboxusercontent.com/u/12755271/ORF/gron/back/2_2.jpg");
	background-size:contain;
}
.b2_3{
	background-image: url("https://dl.dropboxusercontent.com/u/12755271/ORF/gron/back/2_3.jpg");
	background-size:contain;
}
.b2_4{
	background-image: url("https://dl.dropboxusercontent.com/u/12755271/ORF/gron/back/2_4.jpg");
	background-size:contain;
}
.b3_1{
	background-image: url("https://dl.dropboxusercontent.com/u/12755271/ORF/gron/back/3_1.jpg");
	background-size:contain;
}
.b3_2{
	background-image: url("https://dl.dropboxusercontent.com/u/12755271/ORF/gron/back/3_2.jpg");
	background-size:contain;
}
.b3_3{
	background-image: url("https://dl.dropboxusercontent.com/u/12755271/ORF/gron/back/3_3.jpg");
	background-size:contain;
}
.b3_4{
	background-image: url("https://dl.dropboxusercontent.com/u/12755271/ORF/gron/back/3_4.jpg");
	background-size:contain;
}
.b4_1{
	background-image: url("https://dl.dropboxusercontent.com/u/12755271/ORF/gron/back/4_1.jpg");
	background-size:contain;
}
.b4_2{
	background-image: url("https://dl.dropboxusercontent.com/u/12755271/ORF/gron/back/4_2.jpg");
	background-size:contain;
}
.b4_3{
	background-image: url("https://dl.dropboxusercontent.com/u/12755271/ORF/gron/back/4_3.jpg");
	background-size:contain;
}
.b4_4{
	background-image: url("https://dl.dropboxusercontent.com/u/12755271/ORF/gron/back/4_4.jpg");
	background-size:contain;
}
._0{
	color: black;
	background-color: rgba(255, 255, 255, 0.8);
	/*background-color: rgba(245, 124, 0, 0.6);*/
}
._1{
	background-color: rgba(255, 244, 255, 0.6);
}
._2{
	background-color: rgba(255, 170, 213, 0.6);
}
._3{
	background-color: rgba(255, 85, 170, 0.4);
}
._4{
	background-color: rgba(255, 0, 128, 0.4);
}
._5{
	/*background-color: rgba(136, 14, 79, 0.6);*/
	background-color: rgba(170, 0, 85, 0.6);
}
._6{
	background-color: rgba(245, 124, 0, 0.8);
}
._7{
	background-color: rgba(216, 67, 21, 0.6);
}
._8{
	background-color: rgba(216, 67, 21, 0.8);
}





/*home*/
.18k{
	width: 100px;
 	margin: 0 auto;
}

/*#18kin{
    /*display: block;*/
    /*width: 100%;
		margin: 0 auto;*/
    /*margin-top: 70px;
    margin-bottom: 50px;*/
/*}*/

h2 {
    font-family:"Hiragino Kaku Gothic Pro",  Meiryo, sans-serif;
    font-weight:lighter;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: block;
    float: left;
    background: #EEE;
    border-top: 3px solid #DDD;
    border-left: 3px solid #DDD;
    border-right: 3px solid #BBB;
    border-bottom: 3px solid #BBB;
    color:#111;
    width: 200px;
    height: 100px;
    padding: 10px 0;
    margin: 0 50px;
    font-size: 30px;

}

.boxcontainer {
    display: block;
    margin: 50px auto;
    width: 600px;
    overflow: hidden;
}

button#yes {
    border-top: 3px solid #FFB83F;
    border-left: 3px solid #FFB83F;
    border-right: 3px solid #FF9900;
    border-bottom: 3px solid #FF9900;
    background: #FFCC66
}

/**/
